body {
  height: 4606px;
}
body .hrheader {
  height: 67px;
  background: #D9D9D9;
}
body a {
  text-decoration: none;
  color: #424242;
}
body header {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header .logo {
  top: 30px;
  left: 50px;
  position: absolute;
  width: 98px;
  height: 96px;
  border-radius: 98px;
  background: #d7f4c1;
  border: #88AC6B solid 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body header .logo img {
  margin-top: -30%;
}
body header .logo .logo-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #424242;
}
body header .header-round {
  width: 63px;
  height: 63px;
  background-color: #DDF4CB;
  border-radius: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 150px;
}
body header .header-round svg {
  width: 36px;
  height: 36px;
  margin-right: 75%;
}
body header .header-number {
  position: absolute;
  font-family: "Comfortaa", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 20px;
  color: #424242;
  margin-left: 20%;
}
body header .header-social {
  margin-left: 7%;
}
body header .header-social img {
  margin-left: 20px;
}
body header hr {
  margin-left: 15%;
}
body header .ukranian {
  margin-right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header .ukranian .ukraine {
  margin-right: 25%;
}
body header .ukranian p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 29px;
  color: #424242;
}
body header svg {
  width: 30px;
  height: 17px;
  margin-left: 75%;
  position: absolute;
}
body .under-main {
  margin-top: -3%;
}
body .under-main hr {
  width: 100%;
  height: 6px;
  border: none;
  background-color: #94B06F;
}
body nav {
  margin-top: 43px;
  margin-left: 50px;
  width: 1304px;
}
body nav ul {
  display: flex;
  justify-content: space-around;
}
body nav ul .nav-list {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 20px;
  color: #424242;
}
body nav ul .nav-list .nav-list-item {
  transition-duration: 2s;
}
body nav ul .nav-list .nav-list-item:hover {
  color: #55A630;
  transition-duration: 1s;
}
body nav ul .main-nav-list {
  color: #55A630;
  cursor: pointer;
  transition-duration: 2s;
}
body nav ul .main-nav-list:hover {
  color: #424242;
  transition-duration: 1s;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .special {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 52px;
  text-align: center;
  margin-top: 100px;
  color: #424242;
}
main .actionback {
  background: url(./images/coldatpngs.png);
}
main .action1 {
  width: 1612px;
  height: 640px;
  display: flex;
  margin-left: 250px;
  margin-top: 100px;
}
main .action1_block {
  box-sizing: border-box;
  position: absolute;
  width: 719px;
  height: 640px;
  top: 478px;
  background: url(./images/Group136.png);
  border: 1px solid #46F233;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
main .action1_block_logo {
  margin-left: 30%;
  margin-top: 40px;
}
main .action1_block_text {
  width: 350px;
  height: 200px;
  margin-left: 270px;
  margin-top: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 70px;
  line-height: 50px;
  /* or 48% */
  color: #509133;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
main .action1_block_text::before {
  position: absolute;
  content: "";
  width: 719px;
  height: 640px;
}
main .action1_text {
  width: 892px;
  height: 640px;
  margin-left: 620px;
}
main .action1_text_h {
  width: 515px;
  height: 63px;
  margin-left: 25%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 52px;
  /* or 149% */
  text-align: center;
  text-transform: uppercase;
  color: #55A630;
}
main .action1_text_p {
  width: 650px;
  height: 270px;
  margin-left: 20%;
  margin-top: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
}
main .action1_text_p2 {
  width: 746px;
  height: 58px;
  margin-left: 20%;
  margin-top: 70px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
}
main .action1_text_btn {
  box-sizing: border-box;
  width: 575px;
  height: 94px;
  margin-left: 200px;
  margin-top: 50px;
  cursor: pointer;
  background: radial-gradient(181.49% 3554.55% at -39.78% 50%, #66F833 0%, rgba(217, 217, 217, 0) 100%);
  border-radius: 50px;
}
main .action1_text_btn_btn:hover {
  box-shadow: 0px 4px 4px rgba(1, 1, 1, 0.25);
}
main .action1_text_btn_p {
  width: 489px;
  height: 42px;
  margin-left: 45px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #000000;
}
main .action2 {
  display: flex;
  width: 1612px;
  height: 640px;
  margin-left: 250px;
  margin-top: 100px;
}
main .action2_block {
  box-sizing: border-box;
  width: 719px;
  height: 640px;
  left: 130px;
  top: 1277px;
  background: url(./images/Zybi.png);
  border: 1px solid #46F233;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
main .action2_block_logo {
  margin-top: 40px;
  margin-left: 20px;
}
main .action2_block_text {
  width: 700px;
  height: 29px;
  margin-left: 54px;
  margin-top: 52px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 29px;
  color: #509133;
}
main .action2_block_text::before {
  position: absolute;
  content: "";
  width: 719px;
  height: 640px;
}
main .action2_block_hr {
  width: 550px;
  height: 0px;
  margin-left: 65px;
  margin-top: 40px;
  border: 2px solid #55A630;
}
main .action2_block_ptext1 {
  width: 233px;
  height: 29px;
  margin-left: 39px;
  margin-top: 85px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 61px;
  line-height: 29px;
  color: #3B7720;
}
main .action2_block_ptext1::before {
  position: absolute;
  content: "";
  width: 719px;
  height: 640px;
}
main .action2_block_pdeny {
  width: 134px;
  height: 29px;
  margin-left: 68px;
  margin-top: 22px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 29px;
  /* identical to box height, or 83% */
  color: #000000;
}
main .action2_block_hr2 {
  width: 153px;
  height: 0px;
  margin-left: 54px;
  margin-top: -15px;
  border: 2px solid #000000;
}
main .action2_text {
  width: 892px;
  height: 640px;
  margin-left: -100px;
}
main .action2_text_h {
  width: 515px;
  height: 45px;
  margin-left: 25%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 52px;
  /* or 149% */
  text-align: center;
  text-transform: uppercase;
  color: #55A630;
}
main .action2_text_p {
  width: 650px;
  height: 270px;
  margin-left: 20%;
  margin-top: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 55px;
  display: flex;
  align-items: flex-end;
  color: #000000;
}
main .action2_text_p2 {
  width: 746px;
  height: 58px;
  margin-left: 20%;
  margin-top: 70px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
}
main .action2_text_btn {
  box-sizing: border-box;
  width: 575px;
  height: 94px;
  margin-left: 200px;
  margin-top: 50px;
  cursor: pointer;
  background: radial-gradient(181.49% 3554.55% at -39.78% 50%, #66F833 0%, rgba(217, 217, 217, 0) 100%);
  border-radius: 50px;
}
main .action2_text_btn_btn:hover {
  box-shadow: 0px 4px 4px rgba(1, 1, 1, 0.25);
}
main .action2_text_btn_p {
  width: 489px;
  height: 42px;
  margin-left: 45px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #000000;
}

.plazmo {
  display: flex;
  width: 1612px;
  height: 640px;
  margin-left: 250px;
  margin-top: 100px;
}
.plazmo_block {
  box-sizing: border-box;
  width: 719px;
  height: 640px;
  left: 130px;
  top: 1277px;
  background: url(./images/plazmo.png);
  border: 1px solid #46F233;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.plazmo_block_logo {
  margin-top: 40px;
  margin-left: 20px;
}
.plazmo_block_p {
  position: absolute;
  width: 347px;
  height: 132px;
  margin-top: 56px;
  margin-left: 61px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 70px;
  color: #509133;
}
.plazmo_block_hr {
  width: 365px;
  height: 0px;
  margin-top: 237px;
  margin-left: 42px;
  border: 2px solid #55A630;
}
.plazmo_block_p1 {
  width: 516px;
  height: 97px;
  margin-left: 42px;
  margin-top: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 29px;
  color: #55A630;
}
.plazmo_block_p2 {
  width: 233px;
  height: 29px;
  margin-left: 37px;
  margin-top: 39px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 61px;
  line-height: 29px;
  color: #3B7720;
}
.plazmo_block_p3 {
  width: 134px;
  height: 29px;
  margin-left: 299px;
  margin-top: -20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 29px;
  color: #000000;
}
.plazmo_block_hr2 {
  width: 153px;
  height: 0px;
  margin-top: -13px;
  border: 2px solid #000000;
}/*# sourceMappingURL=style.css.map */