$comfortaa:'Comfortaa', cursive;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    color: #424242;
}
body {
    
    hr {
        width: 67px;
        background-color: #d9d9d9;
        border: none;
        }
    a{
        text-decoration: none;
        color: #424242;
    }
    header {
        width: 100%;
        height: 200px;
        @include flex();
        .logo {
            top: 30px;
            left: 50px;
            position: absolute;
            width: 98px;
            height: 96px;
            border-radius: 98px;
            background: #d7f4c1;
            border: #88AC6B solid 4px;
            @include flex();
            flex-direction: column;
          img {
          margin-top: -15%;
          }
          .logo-text {
            font-family: $roboto;
            font-style: normal;
            font-weight: 400;
            font-size: 26px;
            line-height: 30px;
            color: #424242;
          }
        }
        .header-round {
            width: 63px;
            height: 63px;
            background-color: #DDF4CB;
            border-radius: 63px;
            @include flex();
            margin-right: 150px;
        }
        .header-number {  
            position: absolute;
            font-family: $comfortaa;
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 20px;
            color: #424242;
            margin-left: 20%;
        }
        .header-social {
            width: 200px;
            margin-left: 7%;
            img {
                margin-left: 20px;
                transition-duration: 2s;
                &:hover {
                    transition-duration: 2s;
                    transform: scale(1.3);
                }
            }
        }
        hr {
            margin-left: 12%;
            width: 2px;
            height: 67px;
        }
        .language-slideout {
            &:focus {
                .language-slideout_overflow_content {
                    transition-duration: 0.5s;
                    transform: translateY(0px);
                }
                .language-slideout_button_arrow {
                    transition-duration: 0.5s;
                    transform: rotate(0deg);
                }
            }
            background: none;
            border: none;
            width: 357px;
            height: 69px;
            &_button {
                display: flex;
                flex-direction: row;
                width: 357px;
                height: 69px;
                &_text {
                    margin-top: 23px;
                    width: 130px;
                    height: 35px;
                    margin-left: 21px;
                    font-family: $comfortaa;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 29px;
        
                    color: #424242;
                }
                &_flag {
                    margin-left: 19px;
                    width: 69px;
                    height: 69px;
                    transition-duration: 2s;
                }
                &_arrow {
                    transition-duration: 0.5s;
                    margin-left: 68px;
                    margin-top: 25px;
                    width: 30px;
                    height: 18px;
                    transform: rotate(90deg);
                }
            }
            &_overflow {
                width: 357px;
                height: 75px;
                overflow: hidden;
                &_content {
                    transition-duration: 0.5s;
                    transform: translateY(-255px);
                    width: 100%;
                    height: 100%; 
                    .content {
                        p {
                            color: #424242;
                            margin-left: 20px;
                            font-size: 22px
                        }
                        @include flex ();
                        margin-left: -130px;
                        img {
                            width: 25px;
                            height: 25px;
                            margin-left: 50px;
                        }
                    }
                }
            }
        }
    }
 .under-header {
    margin-top: -3%;
    hr {
        width: 100%;
        height: 6px;
        border: none;
        background-color: #94B06F;
    }
 }
    nav {
        margin-top: 43px;
        margin-left: 50px;
     width: 1304px;
    ul{
        display: flex;
        justify-content: space-around;
    .nav-list {
            font-family: $montserrat;
            font-style: normal;
            font-weight: 300;
            font-size: 22px;
            line-height: 20px;
            color: #424242;
             .nav-list-item{
                transition-duration: 2s;
                &:hover {
                    color: #55A630;
                    transition-duration: 1s;
                }
            }
        }
        .main-nav-list{ 
                color: #55A630;
                cursor: pointer;
       }
     }
 }
}

.container{
   margin-top: -220px;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
.special{

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 52px;
text-align: center;
margin-top: 100px;

color: #424242;
}
.actionback{
    background: url(./images/coldatpngs.png);
}

.action1{
    width: 1451px;
    height: 656px;
    display: flex;
    margin-left: 190px;
    margin-top: 100px;
    &_block{
        box-sizing: border-box;

        position: none;
        width: 650px;
        height: 640px;
        top: 478px;
        background: url(./images/Group136.png);
        border: 1px solid #46F233;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition-duration: 2s;
        &:hover {
            transform: scale(1.1);
            transition-duration: 2s;
          }
       &_logo{
          margin-left: 30%;
          margin-top: 40px;
       }
       &_text{
        width: 473.99px;
        height: 349px;
        margin-top: 40px;
        margin-left: 270px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 45px;
        /* or 48% */
        
        
        color: #509133;
        
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
       }
       &_text::before{
        position: absolute;
        content: '';
        width: 719px;
        height: 640px;       
       }
       
       
   }
   &_text{
            width: 100%;
            height: 640px;
            margin-left: -100px;
        &_h{
            width: 515px;
            height: 63px;
            margin-left: 25%;
            margin-top: 30px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 35px;
            line-height: 52px;
            /* or 149% */
            
            text-align: center;
            text-transform: uppercase;
            
            color: #55A630;
        } 
        &_p{
            position: absolute;
            width: 650px;
            height: 270px;
            margin-left: 12%;
            margin-top: 20px;
            
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 45px;
            line-height: 55px;
            
            color: #000000;
            
        }
        &_p2{
            width: 746px;
            height: 58px;
            margin-left: 20%;
            margin-top: 90px;
            
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 45px;
            line-height: 55px;
            
            color: #000000;
        }
        &_btn{
            box-sizing: border-box;
            position: absolute;
            width: 575px;
            height: 94px;
            margin-left: 200px;
            margin-top: 450px;
            cursor: pointer;
            
            background: radial-gradient(181.49% 3554.55% at -39.78% 50%, #66F833 0%, rgba(217, 217, 217, 0) 100%);
            border-radius: 50px;
            &_btn:hover{
                box-shadow: 0px 4px 4px rgba(1, 1, 1, 0.25);
            }
            &_p{
                width: 489px;
                height: 42px;
                margin-left: 45px;
                
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 35px;
                line-height: 42px;
                
                color: #000000;
            }
            
        }
   }
}

.action2{
    width: 1451px;
    height: 656px;
    display: flex;
    margin-left: 190px;
    margin-top: 100px;
    &_block{
        box-sizing: border-box;

        width: 650px;
        height: 640px;
        left: 130px;
        top: 1277px;
        
        background:url(./images/Zybi.png);
        border: 1px solid #46F233;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition-duration: 2s;
        &:hover {
            transform: scale(1.1);
            transition-duration: 2s;
          }
        &_logo{
            margin-top: 40px;
            margin-left: 20px;
        }
        &_text{
            width: 700px;
            height: 29px;
            margin-left: 54px;
            margin-top: 52px;
            
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 80px;
            line-height: 29px;
            
            color: #509133;
        }
        &_text::before{
            position: absolute;
            content: '';
            width: 719px;
            height: 640px; 
        }
        &_hr{
            width: 550px;
            height: 0px;
            
            margin-left: 65px;
            margin-top: 20px;
            border: 2px solid #55A630;
        }
        &_ptext1{
            width: 233px;
            height: 29px;
            margin-left: 39px;
            margin-top: 85px;
            
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 61px;
            line-height: 29px;
            
            
            color: #3B7720;
        }
        &_ptext1::before{
            position: absolute;
            content: '';
            width: 719px;
            height: 640px; 
        }
        &_pdeny{
            width: 134px;
            height: 29px;
            margin-left: 68px;
            margin-top: 22px;
            
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 29px;
            /* identical to box height, or 83% */
            
            
            color: #000000;
        }
        &_hr2{
            width: 153px;
            height: 0px;
            margin-left: 54px;
            margin-top:-15px;
            
            border: 2px solid #000000;
        }
    }
    &_text{
        width: 892px;
        height: 640px;
        margin-left: -100px;
        &_h{
            width: 515px;
            height: 45px;
            margin-left: 25%;
            
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 35px;
            line-height: 52px;
            /* or 149% */
            
            text-align: center;
            text-transform: uppercase;
            
            color: #55A630;
        }
        &_p{
            width: 650px;
            height: 270px;
            margin-left: 20%;
            margin-top: 20px;

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 45px;
            line-height: 55px;
            display: flex;
            align-items: flex-end;
            
            color: #000000;
        }
        &_p2{
            width: 746px;
            height: 58px;
            margin-left: 20%;
            margin-top: 70px;
            
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 45px;
            line-height: 55px;
            
            color: #000000;
            
        }
        &_btn{
            box-sizing: border-box;

            width: 575px;
            height: 94px;
            margin-left: 200px;
            margin-top: 60px;
            cursor: pointer;
            
            background: radial-gradient(181.49% 3554.55% at -39.78% 50%, #66F833 0%, rgba(217, 217, 217, 0) 100%);
            border-radius: 50px;
            &_btn:hover{
                box-shadow: 0px 4px 4px rgba(1, 1, 1, 0.25);
            }
            &_p{
                width: 489px;
                height: 42px;
                margin-left: 45px;
                
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 35px;
                line-height: 42px;
                
                color: #000000;
        
        
            }
            
      }
    }
  }
}

.plazmo{
    display: flex;
    width: 1451px;
    height: 656px;
    
    margin-left:190px;
    margin-top: 100px;
    &_block{
        box-sizing: border-box;

        width: 650px;
        height: 640px;
        left: 130px;
        top: 1277px;
        
        background:url(./images/plazmo.png);
        border: 1px solid #46F233;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition-duration: 2s;
        &:hover {
            transform: scale(1.1);
            transition-duration: 2s;
          }
        &_logo{
            margin-top: 40px;
            margin-left: 20px;
        }
        &_p{
            position: absolute;
            width: 347px;
            height: 132px;
            margin-top: 56px;
            margin-left: 61px;
            
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 80px;
            line-height:70px;
            
            
            
            color: #509133;
        }
        &_hr{
            width: 365px;
            height: 0px;
            margin-top: 237px;
            margin-left: 42px;
            
            border: 2px solid #55A630;
        }
        &_p1{
            width: 516px;
            height: 97px;
            margin-left: 42px;
            margin-top: 16px;
            
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 29px;
            
            
            
            color: #55A630;
        
    }
    &_p2{
        width: 233px;
        height: 29px;
        margin-left: 37px;
        margin-top: 39px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 61px;
        line-height: 29px;
        
        
        
        color: #3B7720;
    }
    &_p3{
        width: 134px;
        height: 29px;
        margin-left: 299px;
        margin-top: -20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 29px;
        
        
        
        color: #000000;
    }
    &_hr2{
        width: 153px;
        height: 0px;
        margin-top: -13px;
        
        border: 2px solid #000000;

    }
  } 
  &_text{
    width: 892px;
    height: 640px;
    margin-left: -100px;
    &_h{
        width: 515px;
        height: 45px;
        margin-left: 25%;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 52px;
        /* or 149% */
        
        text-align: center;
        text-transform: uppercase;
        
        color: #55A630;
    }
    &_p{
        width: 650px;
        height: 270px;
        margin-left: 20%;
        margin-top: 70px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        line-height: 55px;
        display: flex;
        align-items: flex-end;
        
        color: #000000;
    }
    &_p2{
        width: 746px;
        height: 58px;
        margin-left: 20%;
        margin-top: 50px;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        line-height: 55px;
        
        color: #000000;
        
    }
    &_btn{
        box-sizing: border-box;

        width: 575px;
        height: 94px;
        margin-left: 200px;
        margin-top: 40px;
        cursor: pointer;
        
        background: radial-gradient(181.49% 3554.55% at -39.78% 50%, #66F833 0%, rgba(217, 217, 217, 0) 100%);
        border-radius: 50px;
        &_btn:hover{
            box-shadow: 0px 4px 4px rgba(1, 1, 1, 0.25);
        }
        &_p{
            width: 489px;
            height: 42px;
            margin-left: 45px;
            
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 42px;
            
            color: #000000;
    
    
        }
        
    }
  }
}
  
.breceti{
    display: flex;
    width: 1451px;
    height: 656px;
    
    margin-left:190px;
    margin-top: 100px;
    &_block{
        box-sizing: border-box;

        width: 650px;
        height: 640px;
        left: 130px;
        top: 1277px;
        
        background:url(./images/breceti.png);
        border: 1px solid #46F233;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition-duration: 2s;
        &:hover {
            transform: scale(1.1);
            transition-duration: 2s;
          }
        &_logo{
             margin-top: 40px;
             margin-left: 20px;
            
        }
        &_p{
            width: 238px;
            height: 55px;
            margin-left: 52px;
            margin-top: 45px;
            
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 110px;
            line-height: 29px;
            /* or 26% */
            
            
            color: #509133;
        }
        &_p2{
            width: 422px;
            height: 165px;
            margin-left: 11px;
            margin-top: 55px;
            
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 80px;
            line-height: 29px;

            color: #509133;
        }
    }
    &_text{
        width: 892px;
        height: 640px;
        margin-left: -100px;
        &_h{
            width: 515px;
            height: 45px;
            margin-left: 25%;
            
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 35px;
            line-height: 52px;
            /* or 149% */
            
            text-align: center;
            text-transform: uppercase;
            
            color: #55A630;
        }
        &_p{
            width: 650px;
            height: 270px;
            margin-left: 20%;
            margin-top: 40px;
    
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 45px;
            line-height: 55px;
            display: flex;
            align-items: flex-end;
            
            color: #000000;
        }
        &_p2{
            width: 746px;
            height: 58px;
            margin-left: 20%;
            margin-top: 70px;
            
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 45px;
            line-height: 55px;
            
            color: #000000;
            
        }
        &_btn{
            box-sizing: border-box;
            position: absolute;
            width: 575px;
            height: 94px;
            margin-left: 200px;
            margin-top: 60px;
            cursor: pointer;
            
            background: radial-gradient(181.49% 3554.55% at -39.78% 50%, #66F833 0%, rgba(217, 217, 217, 0) 100%);
            border-radius: 50px;
            &_btn:hover{
                box-shadow: 0px 4px 4px rgba(1, 1, 1, 0.25);
            }
            &_p{
                width: 489px;
                height: 42px;
                margin-left: 45px;
                
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 35px;
                line-height: 42px;
                
                color: #000000;
        
        
            }
            
        }
    }
}

footer{
    
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 450px;
    top: 0px;
}
.ftr-info{
    background-color: #424242;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 450px;
    width: 900px;
    ul{
        width: 148px;
        height: 247px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        li{
                            list-style: none;
            a {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 15px;
                color: #FFFFFF;
                transition-duration: 2s;
                &:hover {
                    color: #55A630;
                    transition-duration: 1s;
                }  
            }
        }
    }
}
.ftr-head{
        h1{
            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 20px;
            color: #FFFFFF;   
            width: 100%;  
            text-align: center; 
            margin-top: 20px;     
}
p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;  
    text-align: center;  
    margin-top: 20px;
}
}
.copyright{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;    
    width: 100%;
    text-align: center;
}

.footer{
    display: flex;
}
.iframe{
    width: 790px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 895px;
    height: 520px;
    border-radius: 20px;
    h1{
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 28px;
        text-align: center;
        color: #55A630;        
    }
    p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #424242;        
    }
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 426.97px;
    height: 269px;
    margin-top: 55px;
    input{
        width: 426.22px;
        height: 60px;
        border: 1px solid #55A630;
    }
    button{
        width: 426.97px;
        height: 71px;
        background: #55A630;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 16px;
        color: #FFFFFF;   
        border: none;     
        transition-duration: 2s;
        &:hover {
            background-color: #378215;
            transition-duration: 2s;
        }
    }
}
.media-number{
    position: absolute;
    margin-left: 200px;
}
.elipse{
    position: absolute;
    margin-left: -1300px;
    margin-top: -200px;
}
.elipse2{
    position: absolute;
    margin-left: 80%;
    margin-top: -100px;
}

button{
    cursor: pointer;
}
.burger-menu{
    display: none;
    
    margin-left: 75%;
    width: 50px;
    margin-top: -160px;
}
.dots{
    display: none;
}
.strelochka{
    display: none;
}

@media screen and (max-width: 450px) {
    body{
      width: 440px;
    }
     .hr-main{
        display: none;
    }
    header{
       .header-round{
        display: none !important;
       }
    }
    .hrheader{
        display: none;
    }
    .strelca{
        display: none;
    }
    .header-svg{
        display: none;
    }
    .header-number{
        display: none;
    }
    .header-social{
        display: none;
    }
    .ukraine{
        display: none;
    }
    .ukraine-p{
        display: none;
    }
    .nav-list{
        display: none;
    }
    .burger-menu{
        
        display: block;
    }
    .language-slideout{
        display: none;
    }
    hr{
        display: none;
    }
    .action1{
        display: block !important;
        width: 440px;
        &_block{
            margin-left: 200px;
            
        }
        &_text{
            display: none;
        }


    }
    .strelochka{
        display: block !important;
        margin-top: 30px;
    }
    .dots{
        display: block;
    }
    .action2{
        display: none !important;;
    }
    .plazmo{
        display: none !important;
    }
    .breceti{
        display: none;
    }
    .form{
       margin-top: 200px;
    }
    .elipse{
        display: none;

    }
    .elipse2{
        display: none;
    }
    
}










