$comfortaa:'Comfortaa', cursive;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin stats-item-header{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    color: #55A630;
}
@mixin stats-item-paragraph{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 7.5px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #424242;    
}
@media (min-width:451px) {
    .container {
        display: block;
    }
    .mobile-container {
        display: none;
    }
}
@media (max-width: 501px) {
    .container {
        display: none;
    }
    .mobile-container {
        display: block;
        header {
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            .logo {
                margin-top: 4%;
                width: 98px;
                height: 96px;
                border-radius: 98px;
                background: #d7f4c1;
                border: #88AC6B solid 4px;
              img {
              margin-top: -15%;
              }
              .logo-text {
                font-family: $roboto;
                font-style: normal;
                font-weight: 400;
                font-size: 26px;
                line-height: 30px;
                color: #424242;
              }
}
            .menu {
                width: 55px;
                height: 55px;
                margin-left: 55%;
            }
    }
    main{
        margin-top: -3200px;
        width: 100%;
        height: 10000px;
        .mobile-up-main {
            width: 414px;
            display: flex;
            justify-content: space-between;
            .mobile-up-first-block {
                margin-top: 20px;
                .text-free {
                    font-family: $comfortaa;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 26px;
                    margin-bottom: 10px;
                }
                .session {
                    color: #55A630;
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 65px;
                    margin-bottom: 10px;
                }
                .sessions {
                    margin-top: -40px;
                }
                .button-wrapper {
                    @include flex ();
                    flex-direction: column;
                    button {
                        position: absolute;
                    }
                    .session-button {
                        border: none;
                        width: 151px;
                        height: 30px;
                        background-color: #55A630;
                        color: white;
                    }
                    .child-button {
                        margin-top: 100px;
                        background-color: white;
                        color: #55A630;
                        border: solid 1px #55A630;
                        width: 122px;
                        height: 30px;
                    }
                }
            }
            .mobile-up-second-block {
                img {
                    position: absolute;
                    width: 230px;
                    height: 250px;
                    left: 0px;
                    margin-left: 194px;
                }
            }
        }
        .up-main-text {
            margin-top: 22%;
          .up-main-mobile-block {
            .up-number {
                color: #55A630;
                font-size: 22px;
                font-family: $comfortaa;
            }
          }
        }
        .up-main-text-container {
            width: 100%;
            margin-top: 100px;
            margin-bottom: 100px;
            display: flex;
            justify-content: space-between;
            .up-main-text-block {
                @include flex ();
                flex-direction: column;
                text-align: center;
                .inf {
                    width: 103px;
                    text-align: center;            
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 17px;
                    line-height: 26px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #424242;
            }
                .number {    
                font-family: $roboto;
                font-style: normal;
                font-weight: 600;
                font-size: 27px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #55A630;
                }
            }
        }
        .our-doctors {
            font-family: $montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            color: #424242;
        }
        .our-block {
            display: flex;
            .no-rotate {
                width: 13px;
                height: 21px;
                margin-top: 200px;
            }
            .rotate {
                transform: rotate(180deg);
            }
        }
        .doctor-block {
            width: 100%;
            height: 333px;
            display: flex;
            flex-direction: column;
            align-items: center;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            p {
                color: #424242;
            }
            .doc-gray-text {
                margin-top: 15px;
            }
            .doc-information {
                margin-top: 20px;
            }
            .doc-inf {
                margin-top: 20px;
                opacity: 0.8;
            }
            button {
                margin-top: 50px;
                background-color: #4340B4;
                height: 48px;
                border: none;
                border-radius: 13px;
                color: white;
            }
        }
        .dots {
            margin-top: 20px;
            width: 105px;
        }
        .about-us-img {
            width: 100%;
            size: 100%;
            margin-top: 60px;
        }
        .about-us-text {
            margin-top: 40px;
            margin-bottom: 25px;
            font-family: $montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 28px;
            text-align: center;
            color: #858585;
        }
        .flex-start {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            .lorem {
                
            font-family: $montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 31px;

            /* or 155% */

            color: #424242;
            opacity: 0.8;
            }
            .lorems {
                margin-top: 60px;
            }
            .mobile-text {
            font-family: $montserrat;
            font-style: normal;
            font-weight: 700;
            font-size: 35px;
            line-height: 107%;
            letter-spacing: -0.4px;
            color: #424242;
            }
            .valmari {
                color: #55A630;
            }
            .big-inf {
                margin-top: 60px;
                font-family: $montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 25px;
                line-height: 29px;
                color: #424242;
            }
            .more {
                color: #55A630;
            }
        }
        .news {
            margin-top: 70px;
            color: #55A630;
            font-family: $montserrat;
            font-weight: 800;
            font-size: 20px;
            margin-bottom: 20px;
        }
        .register {
            margin-top: 30px;
            margin-bottom: 100px;
            background-color: #55A630;
            color: white;
            width: 386px;
           height: 75px;
            border: none;
            border-radius: 15px;
        }
        .watching {
            font-family: $montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 35px;
            line-height: 28px;
            text-align: center;
            color: #424242;
        }
        .go-watching {
            margin-top: 61px;
            margin-bottom: 170px;
            font-family: $montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 26px;
            text-align: center;
            color: #424242;
        }
        .block {
          width: 414px;
          height: 550px;
            img {
                width: 100%;
                height: 280px;
            }
            .free {
                display: flex;
                p {
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;
                    color: #424242;
                }
                .free-lorem {
                    width: 227px;
                }
            }
            .block-button {
                display: flex;
                margin-top: 100px;
                p {
                    width: 310px;
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 24px;
                    color: #424242;
                    opacity: 0.8;
                }
                .green-block {
                    background-color: #55A630;
                    width: 120px;
                    height: 76px;
                    margin-top: 19px;
                    @include flex();
                    img {
                        width: 20px;
                    }
                }
            }
        }
        .block-decorations {
            margin-top: 30px;
            margin-bottom: 200px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .rotate {
                transform: rotate(180deg);
            }
            .no-rotate {
                width: 42px;
                height: 42px;
            }
            .dots {
                width: 105px;
            }
        }
    }
    footer{
        margin-top: 1150%;
        width: 100%;
        left: 0%;
    }
    .form{
        margin-top: 30%;
        width: 383px;
        height: 300px;
        @include flex();
        flex-direction: column;
        margin-left: 4%;
    }
    .inputs{
        input{
            width: 326px;
            height: 51px;
            margin-top: 30px;
        }
        button{
            width: 326px;
            height: 51px;
            margin-top: 30px;
            p{
                font-family: $montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 23px;
                line-height: 16px;
                color: #FFFFFF;
            }
        }
    }
    .interesting-information{
        width: 80%;
        height: 488px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h1{
           
            color: #424242;
        }
    }
    .mobile-invisible{
        display: none;
    }
    iframe{
        width: 200px;
    }
    }
    .slider-mobile{
        display: flex;
        flex-direction: column;
    }
    .mySlides {
        display: flex;
        justify-content: space-around;
        background: #F8F8F8;
        width: 367px;
        height: 400px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    img {vertical-align: middle;}
    .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    }
    .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    }
    .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    }
    .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    }
    .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }
    .active, .dot:hover {
    background-color: #111111;
    }
}
@media (max-width:321px) {
    .mobile-up-main {
        .mobile-up-first-block {
            margin-left: 50px;
        }
    }
    .inputs {
       input {
        padding-left: 20px;
       }
    }
}
@media (min-width:835px) {
    .tablet-container {
        display: none;
    }
    .container {
        display: block;
    }
}
@media (min-width:501px) and (max-width:599px) {
    header {
     .social-media {
        img {
            display: none;
        }
    }
    }
}
@media (min-width:501px) and (max-width:835px) {
    .container {
        display: none;
    }
    .tablet-container {
        display: block;
        header {
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .tablet-logo {
                margin-left: 15px;
            }
            hr {
                background: #D9D9D9;
                height: 39px;
                width: 3px;
                border: none;
            }
            .phone-cont {
                margin-right: 10%;
                @include flex();
                .tab-numb {
                    font-family: $comfortaa;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    color: #424242;
                    margin-left: 10px;
                }
            }
            .social-media {
                display: flex;
                margin-right: 14%;
                img {
                    width: 26px;
                    height: 26px;
                    margin-left: 10px;
                    transition-duration: 2s;
                    &:hover {
                        transition-duration: 2s;
                        transform: scale(1.2);
                    }
                }
            } 
            .language-slideout {
                margin-left: -10%;
                &:focus {
                    .language-slideout_overflow_content {
                        transition-duration: 0.5s;
                        transform: translateY(0px);
                    }
                    .language-slideout_button_arrow {
                        transition-duration: 0.5s;
                        transform: rotate(0deg);
                    }
                }
                background: none;
                border: none;
                width: 357px;
                height: 69px;
                &_button {
                    display: flex;
                    flex-direction: row;
                    width: 357px;
                    height: 69px;
                    justify-content: center;
                    img {
                        width: 29px;
                        height: 29px;
                        margin-top: 4%;
                    }
                    &_text {
                        margin-top: 23px;
                        width: 130px;
                        height: 35px;
                        font-family: $comfortaa;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 17px;
                        line-height: 16px;
            
                        color: #424242;
                    }
                    &_flag {
                        margin-left: 19px;
                        width: 29px;
                        height: 29px;
                    }
                    &_arrow {
                        transition-duration: 0.5s;
                        margin-top: 25px;
                        margin-left: -5%;
                        width: 20px;
                        height: 10px;
                        transform: rotate(90deg);
                    }
                }
                &_overflow {
                    width: 357px;
                    height: 75px;
                    overflow: hidden;
                    &_content {
                        transition-duration: 0.5s;
                        transform: translateY(-255px);
                        width: 100%;
                        height: 100%;
                        margin-left: -7%;
                        margin-top: -2px;
                        img {
                            width: 26px;
                            height: 26px;
                            margin-left: -100px;
                        }   
                        p {
                            margin-top: -26px;
                            font-family: $montserrat;
                            font-size: 20px;
                            margin-left: 25%;
                        }
                    }
                }
            }
    }
    nav {
        position: absolute;
        width: 90%;
        margin-top: 20%;
        margin-left: 5%;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .nav-element {
                a {
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    color: #424242;
                    transition-duration: 2s;
                    &:hover {
                        color: #55A630;
                        transition-duration: 2s;
                    }
                }
            }
            .main-nav-element {
                a {
                    color: #55A630;
                }
            }
        }
    }
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        .tablet-main-wrapper {
            width: 80%;
            margin-left: -10%;
        }
        .tablet-up-main {
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin-top: 280%;
            .first-block {
                margin-left: 10%;
                .free {
                    margin-left: 10%;
                font-family: $comfortaa;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                text-align: center;
                color: #424242;
                margin-bottom: 30px;
                }
                .session {
                    text-align: left;
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 32px;
                    color: #55A630;
                    width: 280px;
                }
                .adult {
                    margin-top: 42px;
                    width: 291px;
                    height: 66px;
                    background-color: #55A630;
                    border: none;
                    transition-duration: 2s;
                    color: white;
                    font-family: $roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 26px;
                    line-height: 26px;
                    text-align: center;
                &:hover {
                    transition-duration: 2s;
                    background-color: #378215;
                }
            }
            .up-main-button-wrapper {
                width: 491px;
                display: flex;
                justify-content: center;
                .child:hover::before {
                    transform: translateX(-0px);
                    transition-duration: 2s;
                }
                .child {
                 width: 187px;
                height: 44px;
                background-color: white;
                margin-top: 28px;
                overflow: hidden;
                transition-duration: 2s;
                position: relative;
                border: none;
                border: 1px solid #55A630;
                @include flex ();
                p {
                    position: absolute;
                    transition-duration: 3s;
                    color: #55A630;
                    text-align: center;
                    font-family: $roboto;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 26px;
                }
                &:hover {
                    p {
                        color: white;
                        transition-duration: 2s;
                    }
                }
                &::before {
                    content: "";
                    width: 100%;
                    height: 95px;
                    position: absolute;
                    background-color: #55A630;
                    transform: translateX(399px);
                    transition-duration: 2s;
                }
                }
               }
            }
            .second-block {
                img {
                    width: 500px;
                    height: 322px;
                }
            }
            }
            .up-main-text {
                max-width: 100%;
                ul {
                    display: flex;
                    justify-content: center;
                    li {
                        .up-main-list-block {
                            width: 190px;
                            height: 103px;
                            transition-duration: 2s;
                            &:hover {
                                transition-duration: 2s;
                                transform: scale(1.1);
                            }
                            .up-main-text-number {
                                text-align: center;
                                font-family: $montserrat;
                                font-style: normal;
                                font-weight: 700;
                                font-size: 35px;
                                line-height: 45px;
                                color: #55A630;
                            }
                            .up-main-text-subject {
                                text-align: center;
                                margin-top: 6px;
                                font-family: $montserrat;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 23px;
                                line-height: 28px;
                                color: #424242;
                            }
                        }
                    }
                }
            }
            .t-our-doctors {
                margin-left: 10%;
                .our-d-text {
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 28px;
                    text-align: center;

                }
                .slider {
                    max-width: 834px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 50px;
                    background-color: red;
                    .left {
                        transform: rotate(90deg);
                        margin-top: 125px;
                    }
                    .right {
                        transform: rotate(-90deg);
                        margin-top: 125px;
                    }
                    .doctor-block {
                        width: 206px;
                        height: 314px;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                        border-radius: 20px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding-top: 12px;
                        padding-left: 10px;
                        p {
                            font-family: $montserrat;
                        }
                        .a {
                            color: #4340B4;
                        }
                        .a-hr {
                            background-color: #4340B4;
                        }
                        .a-button {
                            background-color: #4340B4;
                            transition-duration: 2s;
                            &:hover {
                                transition-duration: 2s;
                                background-color: #100d5e;
                            }
                        }
                        .u {
                            color: #55A630;
                        }
                        .u-hr {
                            background-color: #55A630;
                        }
                        .u-button {
                            background-color: #55A630;
                            transition-duration: 2s;
                            &:hover {
                                transition-duration: 2s;
                                background-color: #378215;
                            }
                        }
                        .m {
                            color: #00A896;
                        }
                        .m-hr {
                            background-color: #00A896;
                        }
                        .m-button {
                            background-color: #00A896;
                            transition-duration: 2s;
                            &:hover {
                                transition-duration: 2s;
                                background-color: #09695f;
                            }
                        }
                        .doc-img {
                            display: flex;
                            width: 100%;
                            justify-content: space-between;
                            .img {
                                width: 80px;
                                height: 60px;
                                border-radius: 20px;
                                transition-duration: 2s;
                                &:hover {
                                    transition-duration: 2s;
                                    transform: scale(1.1);
                                }
                            }
                            p {
                                margin-top: 10%;
                            }
                        }
                        .name {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 100%;
                            letter-spacing: -0.4px;
                            margin-top: 20px;
                        }
                        .list {
                            display: flex;
                            position: relative;
                            margin-top: 10px;
                            margin-bottom: 46px;
                            hr {
                                margin-left: -30px;
                                margin-top: 35px;
                                position: absolute;
                                width: 73px;
                                height: 1px;
                                transform: rotate(90deg);
                            }
                            p {
                                width: 151px;
                                text-align: left;
                                margin-left: 20px;
                            }
                        }
                        a {

                            button {
                                width: 216px;
                                height: 32.78px;
                                border-radius: 20px;
                                border: none;
                                margin-left: -10px;
                                color: white;
                                margin-top: 40px;
                            }
                        }
                    }
                }
            }
            .decoration {
                margin-top: 5%;
            }
            .about-us {
                @include flex();
                .img-block {
                    img {
                        width: 360px;
                        height: 521px;
                        transition-duration: 2s;
                        &:hover {
                            transition-duration: 2s;
                            transform: scale(1.1);
                        }
                    }
                }
                .inf-block {
                    margin-left: 80px;
                    p {
                        text-align: left;
                    }
                }
            }
        }
    }
}