@media (min-width: 451px) {
  .container {
    display: block;
  }
  .mobile-container {
    display: none;
  }
}
@media (max-width: 501px) {
  .container {
    display: none;
  }
  .mobile-container {
    display: block;
  }
  .mobile-container header {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .mobile-container header .logo {
    margin-top: 4%;
    width: 98px;
    height: 96px;
    border-radius: 98px;
    background: #d7f4c1;
    border: #88AC6B solid 4px;
  }
  .mobile-container header .logo img {
    margin-top: -15%;
  }
  .mobile-container header .logo .logo-text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #424242;
  }
  .mobile-container header .menu {
    width: 55px;
    height: 55px;
    margin-left: 55%;
  }
  .mobile-container main {
    margin-top: -3200px;
    width: 100%;
    height: 10000px;
  }
  .mobile-container main .mobile-up-main {
    width: 414px;
    display: flex;
    justify-content: space-between;
  }
  .mobile-container main .mobile-up-main .mobile-up-first-block {
    margin-top: 20px;
  }
  .mobile-container main .mobile-up-main .mobile-up-first-block .text-free {
    font-family: "Comfortaa", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  .mobile-container main .mobile-up-main .mobile-up-first-block .session {
    color: #55A630;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 65px;
    margin-bottom: 10px;
  }
  .mobile-container main .mobile-up-main .mobile-up-first-block .sessions {
    margin-top: -40px;
  }
  .mobile-container main .mobile-up-main .mobile-up-first-block .button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .mobile-container main .mobile-up-main .mobile-up-first-block .button-wrapper button {
    position: absolute;
  }
  .mobile-container main .mobile-up-main .mobile-up-first-block .button-wrapper .session-button {
    border: none;
    width: 151px;
    height: 30px;
    background-color: #55A630;
    color: white;
  }
  .mobile-container main .mobile-up-main .mobile-up-first-block .button-wrapper .child-button {
    margin-top: 100px;
    background-color: white;
    color: #55A630;
    border: solid 1px #55A630;
    width: 122px;
    height: 30px;
  }
  .mobile-container main .mobile-up-main .mobile-up-second-block img {
    position: absolute;
    width: 230px;
    height: 250px;
    left: 0px;
    margin-left: 194px;
  }
  .mobile-container main .up-main-text {
    margin-top: 22%;
  }
  .mobile-container main .up-main-text .up-main-mobile-block .up-number {
    color: #55A630;
    font-size: 22px;
    font-family: "Comfortaa", cursive;
  }
  .mobile-container main .up-main-text-container {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
  }
  .mobile-container main .up-main-text-container .up-main-text-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .mobile-container main .up-main-text-container .up-main-text-block .inf {
    width: 103px;
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #424242;
  }
  .mobile-container main .up-main-text-container .up-main-text-block .number {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #55A630;
  }
  .mobile-container main .our-doctors {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #424242;
  }
  .mobile-container main .our-block {
    display: flex;
  }
  .mobile-container main .our-block .no-rotate {
    width: 13px;
    height: 21px;
    margin-top: 200px;
  }
  .mobile-container main .our-block .rotate {
    transform: rotate(180deg);
  }
  .mobile-container main .doctor-block {
    width: 100%;
    height: 333px;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .mobile-container main .doctor-block p {
    color: #424242;
  }
  .mobile-container main .doctor-block .doc-gray-text {
    margin-top: 15px;
  }
  .mobile-container main .doctor-block .doc-information {
    margin-top: 20px;
  }
  .mobile-container main .doctor-block .doc-inf {
    margin-top: 20px;
    opacity: 0.8;
  }
  .mobile-container main .doctor-block button {
    margin-top: 50px;
    background-color: #4340B4;
    height: 48px;
    border: none;
    border-radius: 13px;
    color: white;
  }
  .mobile-container main .dots {
    margin-top: 20px;
    width: 105px;
  }
  .mobile-container main .about-us-img {
    width: 100%;
    size: 100%;
    margin-top: 60px;
  }
  .mobile-container main .about-us-text {
    margin-top: 40px;
    margin-bottom: 25px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    color: #858585;
  }
  .mobile-container main .flex-start {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .mobile-container main .flex-start .lorem {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    /* or 155% */
    color: #424242;
    opacity: 0.8;
  }
  .mobile-container main .flex-start .lorems {
    margin-top: 60px;
  }
  .mobile-container main .flex-start .mobile-text {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 107%;
    letter-spacing: -0.4px;
    color: #424242;
  }
  .mobile-container main .flex-start .valmari {
    color: #55A630;
  }
  .mobile-container main .flex-start .big-inf {
    margin-top: 60px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #424242;
  }
  .mobile-container main .flex-start .more {
    color: #55A630;
  }
  .mobile-container main .news {
    margin-top: 70px;
    color: #55A630;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .mobile-container main .register {
    margin-top: 30px;
    margin-bottom: 100px;
    background-color: #55A630;
    color: white;
    width: 386px;
    height: 75px;
    border: none;
    border-radius: 15px;
  }
  .mobile-container main .watching {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 28px;
    text-align: center;
    color: #424242;
  }
  .mobile-container main .go-watching {
    margin-top: 61px;
    margin-bottom: 170px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 26px;
    text-align: center;
    color: #424242;
  }
  .mobile-container main .block {
    width: 414px;
    height: 550px;
  }
  .mobile-container main .block img {
    width: 100%;
    height: 280px;
  }
  .mobile-container main .block .free {
    display: flex;
  }
  .mobile-container main .block .free p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #424242;
  }
  .mobile-container main .block .free .free-lorem {
    width: 227px;
  }
  .mobile-container main .block .block-button {
    display: flex;
    margin-top: 100px;
  }
  .mobile-container main .block .block-button p {
    width: 310px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #424242;
    opacity: 0.8;
  }
  .mobile-container main .block .block-button .green-block {
    background-color: #55A630;
    width: 120px;
    height: 76px;
    margin-top: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-container main .block .block-button .green-block img {
    width: 20px;
  }
  .mobile-container main .block-decorations {
    margin-top: 30px;
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-container main .block-decorations .rotate {
    transform: rotate(180deg);
  }
  .mobile-container main .block-decorations .no-rotate {
    width: 42px;
    height: 42px;
  }
  .mobile-container main .block-decorations .dots {
    width: 105px;
  }
  .mobile-container footer {
    margin-top: 1150%;
    width: 100%;
    left: 0%;
  }
  .mobile-container .form {
    margin-top: 30%;
    width: 383px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 4%;
  }
  .mobile-container .inputs input {
    width: 326px;
    height: 51px;
    margin-top: 30px;
  }
  .mobile-container .inputs button {
    width: 326px;
    height: 51px;
    margin-top: 30px;
  }
  .mobile-container .inputs button p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 16px;
    color: #FFFFFF;
  }
  .mobile-container .interesting-information {
    width: 80%;
    height: 488px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .mobile-container .interesting-information h1 {
    color: #424242;
  }
  .mobile-container .mobile-invisible {
    display: none;
  }
  .mobile-container iframe {
    width: 200px;
  }
  .slider-mobile {
    display: flex;
    flex-direction: column;
  }
  .mySlides {
    display: flex;
    justify-content: space-around;
    background: #F8F8F8;
    width: 367px;
    height: 400px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  img {
    vertical-align: middle;
  }
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #111111;
  }
}
@media (max-width: 321px) {
  .mobile-up-main .mobile-up-first-block {
    margin-left: 50px;
  }
  .inputs input {
    padding-left: 20px;
  }
}
@media (min-width: 835px) {
  .tablet-container {
    display: none;
  }
  .container {
    display: block;
  }
}
@media (min-width: 501px) and (max-width: 599px) {
  header .social-media img {
    display: none;
  }
}
@media (min-width: 501px) and (max-width: 835px) {
  .container {
    display: none;
  }
  .tablet-container {
    display: block;
  }
  .tablet-container header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .tablet-container header .tablet-logo {
    margin-left: 15px;
  }
  .tablet-container header hr {
    background: #D9D9D9;
    height: 39px;
    width: 3px;
    border: none;
  }
  .tablet-container header .phone-cont {
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tablet-container header .phone-cont .tab-numb {
    font-family: "Comfortaa", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    margin-left: 10px;
  }
  .tablet-container header .social-media {
    display: flex;
    margin-right: 14%;
  }
  .tablet-container header .social-media img {
    width: 26px;
    height: 26px;
    margin-left: 10px;
    transition-duration: 2s;
  }
  .tablet-container header .social-media img:hover {
    transition-duration: 2s;
    transform: scale(1.2);
  }
  .tablet-container header .language-slideout {
    margin-left: -10%;
    background: none;
    border: none;
    width: 357px;
    height: 69px;
  }
  .tablet-container header .language-slideout:focus .language-slideout_overflow_content {
    transition-duration: 0.5s;
    transform: translateY(0px);
  }
  .tablet-container header .language-slideout:focus .language-slideout_button_arrow {
    transition-duration: 0.5s;
    transform: rotate(0deg);
  }
  .tablet-container header .language-slideout_button {
    display: flex;
    flex-direction: row;
    width: 357px;
    height: 69px;
    justify-content: center;
  }
  .tablet-container header .language-slideout_button img {
    width: 29px;
    height: 29px;
    margin-top: 4%;
  }
  .tablet-container header .language-slideout_button_text {
    margin-top: 23px;
    width: 130px;
    height: 35px;
    font-family: "Comfortaa", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 16px;
    color: #424242;
  }
  .tablet-container header .language-slideout_button_flag {
    margin-left: 19px;
    width: 29px;
    height: 29px;
  }
  .tablet-container header .language-slideout_button_arrow {
    transition-duration: 0.5s;
    margin-top: 25px;
    margin-left: -5%;
    width: 20px;
    height: 10px;
    transform: rotate(90deg);
  }
  .tablet-container header .language-slideout_overflow {
    width: 357px;
    height: 75px;
    overflow: hidden;
  }
  .tablet-container header .language-slideout_overflow_content {
    transition-duration: 0.5s;
    transform: translateY(-255px);
    width: 100%;
    height: 100%;
    margin-left: -7%;
    margin-top: -2px;
  }
  .tablet-container header .language-slideout_overflow_content img {
    width: 26px;
    height: 26px;
    margin-left: -100px;
  }
  .tablet-container header .language-slideout_overflow_content p {
    margin-top: -26px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-left: 25%;
  }
  .tablet-container nav {
    position: absolute;
    width: 90%;
    margin-top: 20%;
    margin-left: 5%;
  }
  .tablet-container nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tablet-container nav ul .nav-element a {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    transition-duration: 2s;
  }
  .tablet-container nav ul .nav-element a:hover {
    color: #55A630;
    transition-duration: 2s;
  }
  .tablet-container nav ul .main-nav-element a {
    color: #55A630;
  }
  .tablet-container main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .tablet-container main .tablet-main-wrapper {
    width: 80%;
    margin-left: -10%;
  }
  .tablet-container main .tablet-up-main {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 280%;
  }
  .tablet-container main .tablet-up-main .first-block {
    margin-left: 10%;
  }
  .tablet-container main .tablet-up-main .first-block .free {
    margin-left: 10%;
    font-family: "Comfortaa", cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #424242;
    margin-bottom: 30px;
  }
  .tablet-container main .tablet-up-main .first-block .session {
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #55A630;
    width: 280px;
  }
  .tablet-container main .tablet-up-main .first-block .adult {
    margin-top: 42px;
    width: 291px;
    height: 66px;
    background-color: #55A630;
    border: none;
    transition-duration: 2s;
    color: white;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 26px;
    text-align: center;
  }
  .tablet-container main .tablet-up-main .first-block .adult:hover {
    transition-duration: 2s;
    background-color: #378215;
  }
  .tablet-container main .tablet-up-main .first-block .up-main-button-wrapper {
    width: 491px;
    display: flex;
    justify-content: center;
  }
  .tablet-container main .tablet-up-main .first-block .up-main-button-wrapper .child:hover::before {
    transform: translateX(0px);
    transition-duration: 2s;
  }
  .tablet-container main .tablet-up-main .first-block .up-main-button-wrapper .child {
    width: 187px;
    height: 44px;
    background-color: white;
    margin-top: 28px;
    overflow: hidden;
    transition-duration: 2s;
    position: relative;
    border: none;
    border: 1px solid #55A630;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tablet-container main .tablet-up-main .first-block .up-main-button-wrapper .child p {
    position: absolute;
    transition-duration: 3s;
    color: #55A630;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
  }
  .tablet-container main .tablet-up-main .first-block .up-main-button-wrapper .child:hover p {
    color: white;
    transition-duration: 2s;
  }
  .tablet-container main .tablet-up-main .first-block .up-main-button-wrapper .child::before {
    content: "";
    width: 100%;
    height: 95px;
    position: absolute;
    background-color: #55A630;
    transform: translateX(399px);
    transition-duration: 2s;
  }
  .tablet-container main .tablet-up-main .second-block img {
    width: 500px;
    height: 322px;
  }
  .tablet-container main .up-main-text {
    max-width: 100%;
  }
  .tablet-container main .up-main-text ul {
    display: flex;
    justify-content: center;
  }
  .tablet-container main .up-main-text ul li .up-main-list-block {
    width: 190px;
    height: 103px;
    transition-duration: 2s;
  }
  .tablet-container main .up-main-text ul li .up-main-list-block:hover {
    transition-duration: 2s;
    transform: scale(1.1);
  }
  .tablet-container main .up-main-text ul li .up-main-list-block .up-main-text-number {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    color: #55A630;
  }
  .tablet-container main .up-main-text ul li .up-main-list-block .up-main-text-subject {
    text-align: center;
    margin-top: 6px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    color: #424242;
  }
  .tablet-container main .t-our-doctors {
    margin-left: 10%;
  }
  .tablet-container main .t-our-doctors .our-d-text {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
  .tablet-container main .t-our-doctors .slider {
    max-width: 834px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    background-color: red;
  }
  .tablet-container main .t-our-doctors .slider .left {
    transform: rotate(90deg);
    margin-top: 125px;
  }
  .tablet-container main .t-our-doctors .slider .right {
    transform: rotate(-90deg);
    margin-top: 125px;
  }
  .tablet-container main .t-our-doctors .slider .doctor-block {
    width: 206px;
    height: 314px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 12px;
    padding-left: 10px;
  }
  .tablet-container main .t-our-doctors .slider .doctor-block p {
    font-family: "Montserrat", sans-serif;
  }
  .tablet-container main .t-our-doctors .slider .doctor-block .a {
    color: #4340B4;
  }
  .tablet-container main .t-our-doctors .slider .doctor-block .a-hr {
    background-color: #4340B4;
  }
  .tablet-container main .t-our-doctors .slider .doctor-block .a-button {
    background-color: #4340B4;
    transition-duration: 2s;
  }
  .tablet-container main .t-our-doctors .slider .doctor-block .a-button:hover {
    transition-duration: 2s;
    background-color: #100d5e;
  }
  .tablet-container main .t-our-doctors .slider .doctor-block .u {
    color: #55A630;
  }
  .tablet-container main .t-our-doctors .slider .doctor-block .u-hr {
    background-color: #55A630;
  }
  .tablet-container main .t-our-doctors .slider .doctor-block .u-button {
    background-color: #55A630;
    transition-duration: 2s;
  }
  .tablet-container main .t-our-doctors .slider .doctor-block .u-button:hover {
    transition-duration: 2s;
    background-color: #378215;
  }
  .tablet-container main .t-our-doctors .slider .doctor-block .m {
    color: #00A896;
  }
  .tablet-container main .t-our-doctors .slider .doctor-block .m-hr {
    background-color: #00A896;
  }
  .tablet-container main .t-our-doctors .slider .doctor-block .m-button {
    background-color: #00A896;
    transition-duration: 2s;
  }
  .tablet-container main .t-our-doctors .slider .doctor-block .m-button:hover {
    transition-duration: 2s;
    background-color: #09695f;
  }
  .tablet-container main .t-our-doctors .slider .doctor-block .doc-img {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .tablet-container main .t-our-doctors .slider .doctor-block .doc-img .img {
    width: 80px;
    height: 60px;
    border-radius: 20px;
    transition-duration: 2s;
  }
  .tablet-container main .t-our-doctors .slider .doctor-block .doc-img .img:hover {
    transition-duration: 2s;
    transform: scale(1.1);
  }
  .tablet-container main .t-our-doctors .slider .doctor-block .doc-img p {
    margin-top: 10%;
  }
  .tablet-container main .t-our-doctors .slider .doctor-block .name {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: -0.4px;
    margin-top: 20px;
  }
  .tablet-container main .t-our-doctors .slider .doctor-block .list {
    display: flex;
    position: relative;
    margin-top: 10px;
    margin-bottom: 46px;
  }
  .tablet-container main .t-our-doctors .slider .doctor-block .list hr {
    margin-left: -30px;
    margin-top: 35px;
    position: absolute;
    width: 73px;
    height: 1px;
    transform: rotate(90deg);
  }
  .tablet-container main .t-our-doctors .slider .doctor-block .list p {
    width: 151px;
    text-align: left;
    margin-left: 20px;
  }
  .tablet-container main .t-our-doctors .slider .doctor-block a button {
    width: 216px;
    height: 32.78px;
    border-radius: 20px;
    border: none;
    margin-left: -10px;
    color: white;
    margin-top: 40px;
  }
  .tablet-container main .decoration {
    margin-top: 5%;
  }
  .tablet-container main .about-us {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tablet-container main .about-us .img-block img {
    width: 360px;
    height: 521px;
    transition-duration: 2s;
  }
  .tablet-container main .about-us .img-block img:hover {
    transition-duration: 2s;
    transform: scale(1.1);
  }
  .tablet-container main .about-us .inf-block {
    margin-left: 80px;
  }
  .tablet-container main .about-us .inf-block p {
    text-align: left;
  }
}/*# sourceMappingURL=media.css.map */