$comfortaa:'Comfortaa', cursive;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin stats-item-header{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    color: #55A630;
}
@mixin stats-item-paragraph{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 7.5px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #424242;    
}
@media (min-width:451px) {
    .container {
        display: block;
    }
    .mobile-container {
        display: none;
    }
}
@media (max-width: 451px) {
    .container {
        display: none;
    }
    .mobile-container {
        display: block;
        header {
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            .logo {
                margin-top: 4%;
                width: 98px;
                height: 96px;
                border-radius: 98px;
                background: #d7f4c1;
                border: #88AC6B solid 4px;
              img {
              margin-top: -15%;
              }
              .logo-text {
                font-family: $roboto;
                font-style: normal;
                font-weight: 400;
                font-size: 26px;
                line-height: 30px;
                color: #424242;
              }
}
            .menu {
                width: 55px;
                height: 55px;
                margin-left: 55%;
            }
    }
    main{
        margin-top: -3200px;
        width: 100%;
        height: 10000px;
        .mobile-up-main {
            width: 414px;
            display: flex;
            justify-content: space-between;
            .mobile-up-first-block {
                margin-top: 20px;
                .text-free {
                    font-family: $comfortaa;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 26px;
                    margin-bottom: 10px;
                }
                .session {
                    color: #55A630;
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 65px;
                    margin-bottom: 10px;
                }
                .sessions {
                    margin-top: -40px;
                }
                .button-wrapper {
                    @include flex ();
                    flex-direction: column;
                    button {
                        position: absolute;
                    }
                    .session-button {
                        border: none;
                        width: 151px;
                        height: 30px;
                        background-color: #55A630;
                        color: white;
                    }
                    .child-button {
                        margin-top: 100px;
                        background-color: white;
                        color: #55A630;
                        border: solid 1px #55A630;
                        width: 122px;
                        height: 30px;
                    }
                }
            }
            .mobile-up-second-block {
                img {
                    position: absolute;
                    width: 230px;
                    height: 250px;
                    left: 0px;
                    margin-left: 194px;
                }
            }
        }
        .up-main-text {
            margin-top: 22%;
          .up-main-mobile-block {
            .up-number {
                color: #55A630;
                font-size: 22px;
                font-family: $comfortaa;
            }
          }
        }
        .up-main-text-container {
            width: 100%;
            margin-top: 100px;
            margin-bottom: 100px;
            display: flex;
            justify-content: space-between;
            .up-main-text-block {
                @include flex ();
                flex-direction: column;
                text-align: center;
                .inf {
                    width: 103px;
                    text-align: center;            
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 17px;
                    line-height: 26px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #424242;
            }
                .number {    
                font-family: $roboto;
                font-style: normal;
                font-weight: 600;
                font-size: 27px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #55A630;
                }
            }
        }
        .our-doctors {
            font-family: $montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            color: #424242;
        }
        .our-block {
            display: flex;
            .no-rotate {
                width: 13px;
                height: 21px;
                margin-top: 200px;
            }
            .rotate {
                transform: rotate(180deg);
            }
        }
        .doctor-block {
            width: 100%;
            height: 333px;
            display: flex;
            flex-direction: column;
            align-items: center;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            p {
                color: #424242;
            }
            .doc-gray-text {
                margin-top: 15px;
            }
            .doc-information {
                margin-top: 20px;
            }
            .doc-inf {
                margin-top: 20px;
                opacity: 0.8;
            }
            button {
                margin-top: 50px;
                background-color: #4340B4;
                height: 48px;
                border: none;
                border-radius: 13px;
                color: white;
            }
        }
        .dots {
            margin-top: 20px;
            width: 105px;
        }
        .about-us-img {
            width: 100%;
            size: 100%;
            margin-top: 60px;
        }
        .about-us-text {
            margin-top: 40px;
            margin-bottom: 25px;
            font-family: $montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 28px;
            text-align: center;
            color: #858585;
        }
        .flex-start {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            .lorem {
                
            font-family: $montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 31px;

            /* or 155% */

            color: #424242;
            opacity: 0.8;
            }
            .lorems {
                margin-top: 60px;
            }
            .mobile-text {
            font-family: $montserrat;
            font-style: normal;
            font-weight: 700;
            font-size: 35px;
            line-height: 107%;
            letter-spacing: -0.4px;
            color: #424242;
            }
            .valmari {
                color: #55A630;
            }
            .big-inf {
                margin-top: 60px;
                font-family: $montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 25px;
                line-height: 29px;
                color: #424242;
            }
            .more {
                color: #55A630;
            }
        }
        .news {
            margin-top: 70px;
            color: #55A630;
            font-family: $montserrat;
            font-weight: 800;
            font-size: 20px;
            margin-bottom: 20px;
        }
        .register {
            margin-top: 30px;
            margin-bottom: 100px;
            background-color: #55A630;
            color: white;
            width: 386px;
           height: 75px;
            border: none;
            border-radius: 15px;
        }
        .watching {
            font-family: $montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 35px;
            line-height: 28px;
            text-align: center;
            color: #424242;
        }
        .go-watching {
            margin-top: 61px;
            margin-bottom: 170px;
            font-family: $montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 26px;
            text-align: center;
            color: #424242;
        }
        .block {
          width: 414px;
          height: 550px;
            img {
                width: 100%;
                height: 280px;
            }
            .free {
                display: flex;
                p {
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;
                    color: #424242;
                }
                .free-lorem {
                    width: 227px;
                }
            }
            .block-button {
                display: flex;
                margin-top: 100px;
                p {
                    width: 310px;
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 24px;
                    color: #424242;
                    opacity: 0.8;
                }
                .green-block {
                    background-color: #55A630;
                    width: 120px;
                    height: 76px;
                    margin-top: 19px;
                    @include flex();
                    img {
                        width: 20px;
                    }
                }
            }
        }
        .block-decorations {
            margin-top: 30px;
            margin-bottom: 200px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .rotate {
                transform: rotate(180deg);
            }
            .no-rotate {
                width: 42px;
                height: 42px;
            }
            .dots {
                width: 105px;
            }
        }
    }
    footer{
        margin-top: 1150%;
        width: 100%;
        left: 0%;
    }
    .form{
        margin-top: 30%;
        width: 383px;
        height: 300px;
        @include flex();
        flex-direction: column;
        margin-left: 4%;
    }
    .inputs{
        input{
            width: 326px;
            height: 51px;
            margin-top: 30px;
        }
        button{
            width: 326px;
            height: 51px;
            margin-top: 30px;
            p{
                font-family: $montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 23px;
                line-height: 16px;
                color: #FFFFFF;
            }
        }
    }
    .interesting-information{
        width: 80%;
        height: 488px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h1{
           
            color: #424242;
        }
    }
    .mobile-invisible{
        display: none;
    }
    iframe{
        width: 200px;
    }
    }
    .slider-mobile{
        display: flex;
        flex-direction: column;
    }
    .mySlides {
        display: flex;
        justify-content: space-around;
        background: #F8F8F8;
        width: 367px;
        height: 400px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    img {vertical-align: middle;}
    .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    }
    .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    }
    .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    }
    .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    }
    .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }
    .active, .dot:hover {
    background-color: #111111;
    }
}
