$comfortaa:'Comfortaa', cursive;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    hr {
        width: 67px;
        background: #D9D9D9;
        border: none;
        }
    a{
        text-decoration: none;
        color: #424242;
    }
    header {
        width: 100%;
        height: 200px;
        @include flex();
        .logo {
            top: 30px;
            left: 50px;
            position: absolute;
            width: 98px;
            height: 96px;
            border-radius: 98px;
            background: #d7f4c1;
            border: #88AC6B solid 4px;
            @include flex();
            flex-direction: column;
          img {
          margin-top: -15%;
          }
          .logo-text {
            font-family: $roboto;
            font-style: normal;
            font-weight: 400;
            font-size: 26px;
            line-height: 30px;
            color: #424242;
          }
        }
        .header-round {
            width: 63px;
            height: 63px;
            background-color: #DDF4CB;
            border-radius: 63px;
            @include flex();
            margin-right: 150px;
            svg {
                width: 36px;
                height: 36px;
                margin-right: 75%;
            }
        }
        .header-number {  
            position: absolute;
            font-family: $comfortaa;
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 20px;
            color: #424242;
            margin-left: 20%;
        }
        .header-social {
            width: 200px;
            margin-left: 7%;
            img {
                margin-left: 20px;
            }
        }
        hr {
            margin-left: 15%;
        }
       .ukranian {
        margin-right: 17%;
        @include flex();
        .ukraine {
            margin-right: 10%;
        }
        p {
            font-family: $montserrat;
            font-style: normal;
            font-weight: 300;
            font-size: 22px;
            line-height: 29px;
            color: #424242;
        }
       }
        svg {
            width: 30px;
            height: 17px;
            margin-left: 75%;
            position: absolute;
        }
    }
 .under-header {
    margin-top: -3%;
    hr {
        width: 100%;
        height: 6px;
        border: none;
        background-color: #94B06F;
    }
 }
    nav {
        margin-top: 43px;
        margin-left: 50px;
     width: 1304px;
    ul{
        display: flex;
        justify-content: space-around;
    .nav-list {
            font-family: $montserrat;
            font-style: normal;
            font-weight: 300;
            font-size: 22px;
            line-height: 20px;
            color: #424242;
             .nav-list-item{
                transition-duration: 2s;
                &:hover {
                    color: #55A630;
                    transition-duration: 1s;
                }
            }
        }
        .main-nav-list{ 
                color: #55A630;
                cursor: pointer;
       }
       .main-nav-list:hover{
        color: #424242;
       }
     }
 }
 main {
    width: 100%;
    height: 1000px;
    @include flex();
    flex-direction: column;
    .up-main {
        width: 100%;
        height: 600px;
        display: flex;
        position: relative;
        margin-top: 5300px;
        margin-left: 200px;
    .first-up-main-block {
        .up-main-wrapper {
            .up-main-free {
                font-family: $comfortaa;
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 26px;
                color: #424242;
                margin-top: 30px;
                margin-left: 100px;
                margin-bottom: 40px;
            }
            .session {
                font-family: $montserrat;
                font-style: normal;
                font-weight: 700;
                font-size: 65px;
                line-height: 65px;
                color: #55A630;
                width: 580px;
            }
            .adult {
                margin-top: 92px;
                width: 491px;
                height: 126px;
                background-color: #55A630;
                color: white;
                border: none;
                font-family: $roboto;
                font-style: normal;
                font-weight: 600;
                font-size: 36px;
                line-height: 26px;
                text-align: center;
            }
       .up-main-button-wrapper {
        width: 491px;
        display: flex;
        justify-content: center;
        .child {
         width: 399px;
        height: 95px;
        border: 1px solid #55A630;
        color: #55A630;
        background-color: white;
        margin-top: 28px;
        font-family: $roboto;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 26px;
        }
       }
        }
    }
    .second-up-main-block {
        img {
            position: absolute;
            width: 807px;
            height: 584px;
        }
    }
        }
        .up-main-text {
            width: 1359px;
            margin-left: 50px;
            margin-top: 30px;
            margin-bottom: 221px;
            ul {
                display: flex;
                justify-content: space-between;
                li {
                    .up-main-list-block {
                        width: 190px;
                        height: 103px;
                        .up-main-text-number {
                            text-align: center;
                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 45px;
                            line-height: 45px;
                            color: #55A630;
                        }
                        .up-main-text-subject {
                            text-align: center;
                            margin-top: 6px;
                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 23px;
                            line-height: 28px;
                            color: #424242;
                        }
                    }
                }
            }
        }
        .upper-main {
            .our-doctors {
                font-family: $montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 35px;
                line-height: 28px;
                text-align: center;
                color: #424242;
            }
            .main-slider {
                margin-top: 130px;
                @include flex();
                svg {
                    width: 14px;
                    height: 21px;
                }
                .doctor-block {
                    width: 356px;
                    height: 574px;   
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    margin-left: 50px;
                    margin-right: 50px;
                    border-radius: 20px;
                    padding-left: 12px;
                    .doc-gray-text {
                        color: #424242;
                        margin-top: 12px;
                        font-family: $montserrat;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 22px;
                    }
                    .doc-name {
                        color: #4340B4;
                        font-family: $montserrat;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 30px;
                        line-height: 100%;
                        letter-spacing: -0.4px;
                        margin-top: 14px;
                        margin-bottom: 5px;
                    }
                    .doc-information {
                        display: flex;
                        justify-content: space-between;
                        img {
                            margin-right: 20px;
                        }
                    }  
        .doc-inf {
            display: flex;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 121px;
            img {
                margin-left: 50px;
            }
            .doc-hr {
                background: #4340B4;
                transform: rotate(90deg);
                width: 102px;
                height: 2px;
                position: absolute;
                left: -20px;
                margin-top: 23px;
            }
            .short-inf {
                margin-left: 30px;
                color: #424242;   
                font-family: $montserrat;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 12px;
                br {
                    margin-top: 10px;
                }
            }
        }
        .write-to-doctor {
            margin-left: -12px;
            width: 368px;
            height: 55px;
            border-radius: 20px;
            background-color: #4340B4;
            color: white;
            border: none;
            font-family: $montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            text-align: center;
        }
        .one {
            color: #55A630;
        }
        .doc-hre {
            background-color: #55A630;
            transform: rotate(90deg);
            width: 102px;
            height: 2px;
            position: absolute;
            left: -20px;
            margin-top: 23px;
        }
        .doc-hrs {
            background-color: #00A896;
            transform: rotate(90deg);
            width: 102px;
            height: 2px;
            position: absolute;
            left: -20px;
            margin-top: 23px;
        }
        .doc-one {
            background-color: #55A630;
        }
        .doc-two {
            color: #00A896;
        }
        .two {
            background-color: #00A896;
        }
            }
        }
    }
    .decoration {
        margin-top: -100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .dots {
            margin-top: -200px;
            width: 138px;
            height: 15px;
        }
    }
    .middle-main {
        width: 100%;
        margin-top: 100px;
        margin-bottom: 224px;
        @include flex();
        .img-chapter {
           margin-left: -8%;
           margin-right: 320px;
        }
        .about-us-chapter {
            margin-left: -10%;
            margin-top: 5%;
            .about-us-text {
                color: #858585;
                margin-bottom: 25px;
                font-family: $montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 25px;
                line-height: 28px;
            }
            .min-inf {
                font-family: $montserrat;
                font-style: normal;
                font-weight: 700;
                font-size: 35px;
                line-height: 107%;
                letter-spacing: -0.4px;
                color: #424242;
                width: 452px;
                strong {
                    color: #55A630;
                }
            }
            .full-inform {
                margin-top: 180px;
            }
            .full-inf {
                font-family: $montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 25px;
                line-height: 29px;
                color: #424242;
                width: 452px;
                margin-bottom: 152px;
            }
            .text-inf {
                margin-top: -100px;
            }
            .more {
                margin-left: 130px;
                @include flex ();
                .more-text {
                    color: #55A630;   
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 28px;
                }
                svg {
                    margin-left: 48px;
                    width: 108px;
                }
            }
        }
    }
    .central-main {
        width: 100%;
        .central-hr {
            @include flex ();
            margin-bottom: 224px;
            hr {
                width: 771px;
                background-color: #55A630;
                height: 4px;
                border-radius: 7px;
            }
        }
        .news {
         display: flex;   
         .news-text {
            @include flex ();
            flex-direction: column;
            margin-left: 83px;
            .new-news {
                width: 725px;
                color: #55A630;
                font-family: $montserrat;
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 115%;
                letter-spacing: -0.4px;
                margin-bottom: 52px;
            }
            .lorem {
                p {
                    width: 639px;
                    color: #424242;
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 31px;
                    opacity: 0.8;
                }
                .subscribe {
                    margin-bottom: 40px;
                }
                .lorem-text {
                    margin-bottom: 40px;
                }
            }
            .register {
                background-color: #55A630;
                color: white;
                width: 385px;
                height: 75px;
                border-radius: 20px;
                border: none;
                font-family: $montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 23px;
                line-height: 26px;
            }
         }
         .new-image {
            margin-left: 60px;
         }
        }
        .news-decoration {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 90px;
            .upper {
                margin-top: -20px;
            }
         }
    }
 }
}