body hr {
  height: 67px;
  background: #D9D9D9;
}
body a {
  text-decoration: none;
  color: #424242;
}
body header {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header .logo {
  top: 30px;
  left: 50px;
  position: absolute;
  width: 98px;
  height: 96px;
  border-radius: 98px;
  background: #d7f4c1;
  border: #88AC6B solid 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body header .logo img {
  margin-top: -15%;
}
body header .logo .logo-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #424242;
}
body header .header-round {
  width: 63px;
  height: 63px;
  background-color: #DDF4CB;
  border-radius: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 150px;
}
body header .header-round svg {
  width: 36px;
  height: 36px;
  margin-right: 75%;
}
body header .header-number {
  position: absolute;
  font-family: "Comfortaa", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 20px;
  color: #424242;
  margin-left: 20%;
}
body header .header-social {
  margin-left: 7%;
}
body header .header-social img {
  margin-left: 20px;
}
body header hr {
  margin-left: 15%;
}
body header .ukranian {
  margin-right: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header .ukranian .ukraine {
  margin-right: 10%;
}
body header .ukranian p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 29px;
  color: #424242;
}
body header svg {
  width: 30px;
  height: 17px;
  margin-left: 75%;
  position: absolute;
}
body .under-header {
  margin-top: -3%;
}
body .under-header hr {
  width: 100%;
  height: 6px;
  border: none;
  background-color: #94B06F;
}
body nav {
  margin-top: 43px;
  margin-left: 50px;
  width: 1304px;
}
body nav ul {
  display: flex;
  justify-content: space-around;
}
body nav ul .nav-list {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 20px;
  color: #424242;
}
body nav ul .nav-list .nav-list-item {
  transition-duration: 2s;
}
body nav ul .nav-list .nav-list-item:hover {
  color: #55A630;
  transition-duration: 1s;
}
body nav ul .main-nav-list {
  color: #55A630;
  cursor: pointer;
}
body nav ul .main-nav-list:hover {
  color: #424242;
}
body main {
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main .up-main {
  width: 100%;
  height: 600px;
  display: flex;
  margin-top: 140px;
  margin-left: 200px;
}
body main .up-main .first-up-main-block .up-main-wrapper .up-main-free {
  font-family: "Comfortaa", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #424242;
  margin-top: 30px;
  margin-left: 100px;
  margin-bottom: 40px;
}
body main .up-main .first-up-main-block .up-main-wrapper .session {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 65px;
  color: #55A630;
  width: 580px;
}
body main .up-main .first-up-main-block .up-main-wrapper .adult {
  margin-top: 92px;
  width: 491px;
  height: 126px;
  background-color: #55A630;
  color: white;
  border: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 26px;
  text-align: center;
}
body main .up-main .first-up-main-block .up-main-wrapper .up-main-button-wrapper {
  width: 491px;
  display: flex;
  justify-content: center;
}
body main .up-main .first-up-main-block .up-main-wrapper .up-main-button-wrapper .child {
  width: 399px;
  height: 95px;
  border: 1px solid #55A630;
  color: #55A630;
  background-color: white;
  margin-top: 28px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
}
body main .up-main .second-up-main-block img {
  position: absolute;
  width: 807px;
  height: 584px;
}
body main .up-main-text {
  width: 1359px;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 221px;
}
body main .up-main-text ul {
  display: flex;
  justify-content: space-between;
}
body main .up-main-text ul li .up-main-list-block {
  width: 190px;
  height: 103px;
}
body main .up-main-text ul li .up-main-list-block .up-main-text-number {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #55A630;
}
body main .up-main-text ul li .up-main-list-block .up-main-text-subject {
  text-align: center;
  margin-top: 6px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;
  color: #424242;
}
body main .upper-main .our-doctors {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 28px;
  text-align: center;
  color: #424242;
  margin-bottom: 130px;
}/*# sourceMappingURL=style.css.map */