body {
    overflow-x: hidden;
}
.Block{
    margin-left: 385px;
    width: 750px;
    height: 750px;
    background: #E7E7E7;
    border-radius: 20px;
}
.p-title{
    text-align: center;
    padding-top: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 29px;    
    color: #272727;  
    opacity: 0.6;
}
.formE-mail{
    margin-top: 80px;
    margin-left: 143px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
 
    color: #424242;
}
.formE-mail+input{
    margin-top: 16px;
    margin-left: 143px;
    position: absolute;
    width: 464px;
    height: 80px;
    border: none;
    background: #F0F0F0;
    border-radius: 40px;
    
}
.form-pasword{
    margin-top: 123px;
    margin-left: 143px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  
    color: #424242;
}
.form{
    margin-top: 16px;
    margin-left: 143px;
    position: absolute;
    width: 464px;
    height: 80px;
    border: none;
    background: #F0F0F0;
    border-radius: 40px;
}
.btnLogin{
    margin-top: 185px;
    margin-left: 167px;
    border: none;
    width: 416px;
    height: 94px; 
    background: radial-gradient(358.41% 7019.65% at -128.49% 50%, #66CF42 0%, rgba(217, 217, 217, 0) 100%);
    border-radius: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
   
    color: #000000;
}
.img{
    position: absolute;
    margin-top: -210px;
    margin-left: 705px;
}