@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
a {
  text-decoration: none;
}

button {
  border: none;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  height: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav_item {
  height: 20px;
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  color: #424242;
}
.nav_item-selected {
  height: 20px;
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  color: #55A630;
}

.header {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 64px;
}
.header_searchbar {
  margin-top: 11px;
  margin-left: 60px;
  color: black;
  border: none;
  width: 791px;
  height: 42px;
  background: #D9D9D9;
  border-radius: 10px;
}
.header_search-btn {
  margin-left: 10px;
  margin-top: 11px;
  background: #000000;
  border-radius: 10px;
  width: 42px;
  height: 42px;
}
.header_search-btn_svg {
  margin-top: 3px;
  margin-left: -1px;
  align-self: center;
  width: 31px;
  height: 31px;
}
.header_phone-svg {
  margin-top: 12px;
  margin-left: 40px;
  width: 40px;
  height: 40px;
}
.header_phone-number {
  width: 163px;
  height: 20px;
  margin-top: 18px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  color: #000000;
}
.header_shopping-cart-container {
  margin-left: 40px;
  width: 64px;
  height: 64px;
  background: #c9f0aa;
  border-radius: 15px;
}
.header_shopping-cart-container_svg {
  margin-top: 14px;
  margin-left: 12px;
  width: 40px;
  height: 40px;
}
.header_labels {
  margin-left: 10px;
  margin-top: 12px;
}
.header_labels_label-large {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  color: #000000;
}
.header_labels_label-small {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.top {
  margin-top: 40px;
  display: flex;
  width: 100%;
  height: 629px;
}
.top_menu-btn {
  width: 408px;
  height: 30px;
  background: linear-gradient(90deg, #88AC6B 16.26%, #DDF4CB 113.93%);
  border-radius: 10px;
  margin-left: 80px;
}
.top_menu-btn:focus .top_menu-btn_overflow_content {
  transition-duration: 1s;
  transform: translateY(0px);
}
.top_menu-btn_svg {
  margin-top: 5px;
  margin-left: 375px;
  width: 18px;
  height: 18px;
}
.top_menu-btn_overflow {
  margin-left: -5px;
  overflow: hidden;
  width: 405px;
  height: 500px;
  background-color: none;
}
.top_menu-btn_overflow_content {
  border: none;
  transition-duration: 1s;
  transform: translateY(-550px);
  width: 100%;
  height: 100%;
}
.top_menu-btn_overflow_content_nav {
  margin-top: 40px;
  width: 398px;
  height: 227px;
  justify-content: left;
}
.top_menu-btn_overflow_content_nav_item {
  height: 20px;
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  color: #424242;
}
.top_menu-btn_overflow_content_nav_item-selected {
  margin-top: 10px;
  height: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  color: #55A630;
}
.top_img {
  margin-left: 100px;
  width: 816px;
  height: 465px;
}

.divider {
  display: flex;
  width: 100%;
  height: 67px;
}
.divider_side {
  margin-left: 50px;
  width: 600px;
  height: 6px;
  background: #88AC6B;
  margin-right: 50px;
}
.divider_text {
  margin-top: -10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 20px;
  color: #000000;
}

.store {
  margin-top: 60px;
  width: 100%;
  height: 726px;
}
.store_b-nav {
  margin-top: 40px;
  width: 190px;
  height: 17px;
  margin-left: 622px;
}
.store_b-nav_item {
  margin-left: 16px;
  width: 17px;
  height: 17px;
}
.store_row {
  margin-top: 20px;
  display: flex;
  width: 100%;
  height: 243px;
}
.store_row_item {
  display: flex;
  margin-left: 32.5px;
  width: 450px;
  height: 236px;
  background: #D3E2D7;
}
.store_row_item_img {
  margin-left: 16px;
  margin-top: 13px;
  width: 230px;
  height: 210px;
}
.store_row_item_info {
  margin-top: 25px;
  margin-left: 35px;
  width: 160px;
}
.store_row_item_info_header {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.store_row_item_info_price {
  margin-top: 35px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.store_row_item_info_btn {
  margin-top: 36px;
  width: 129px;
  height: 38px;
  background: #94B06F;
}
.store_row_item_info_btn_text {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.bottom-nav {
  margin-left: 140px;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  height: 114px;
}
.bottom-nav_item {
  margin-right: 20px;
  margin-left: 120px;
  display: flex;
  margin-left: 10px;
  width: 405px;
  height: 100%;
}
.bottom-nav_item_svg {
  width: 100px;
  height: 100px;
}
.bottom-nav_item_info {
  margin-left: 20px;
  height: 100%;
  width: 300px;
}
.bottom-nav_item_info_header {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.bottom-nav_item_info_desc {
  margin-top: 15px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #929191;
}/*# sourceMappingURL=style.css.map */