@media (max-width: 420px) {
  .block-decoration {
    display: none;
  }
  .reviews-text {
    display: none;
  }
  .table-cont {
    display: none;
  }
  center {
    margin-top: 400px;
  }
  center hr {
    display: none;
  }
}
@media (min-width: 451px) {
  .container {
    display: block;
  }
  .mobile-container {
    display: none;
  }
}
@media (max-width: 481px) {
  .container {
    display: none;
  }
  .mobile-container {
    display: block;
    overflow: hidden;
  }
  .mobile-container header {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .mobile-container header .logo {
    margin-top: 4%;
    width: 98px;
    height: 96px;
    border-radius: 98px;
    background: #d7f4c1;
    border: #88AC6B solid 4px;
  }
  .mobile-container header .logo img {
    margin-top: -15%;
  }
  .mobile-container header .logo .logo-text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #424242;
  }
  .mobile-container header .menu {
    width: 55px;
    height: 55px;
    margin-left: 55%;
  }
  .mobile-container main .about-us-img {
    width: 100%;
    size: 100%;
    margin-top: 160px;
  }
  .mobile-container main .about-us-text {
    margin-top: 40px;
    margin-bottom: 25px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    color: #858585;
  }
  .mobile-container main .flex-start {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .mobile-container main .flex-start .lorem {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    /* or 155% */
    color: #424242;
    opacity: 0.8;
  }
  .mobile-container main .flex-start .lorems {
    margin-top: 60px;
  }
  .mobile-container main .flex-start .mobile-text {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 107%;
    letter-spacing: -0.4px;
    color: #424242;
  }
  .mobile-container main .flex-start .valmari {
    color: #55A630;
  }
  .mobile-container main .flex-start .big-inf {
    margin-top: 60px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #424242;
  }
  .mobile-container main .flex-start .more {
    color: #55A630;
  }
  .mobile-container main .central-hr {
    background-color: #55A630;
    width: 200px;
    height: 2px;
    margin-top: 42px;
    margin-bottom: 42px;
  }
  .mobile-container main .where-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 63px;
  }
  .mobile-container main .where-block .where {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #3B7720;
  }
  .mobile-container main .second-cont {
    margin-top: 51px;
  }
  .mobile-container main .block-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .mobile-container main .block-container .wrapper {
    width: 404px;
    height: 189px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-container main .block-container .wrapper .img-side {
    width: 50%;
    height: 100%;
  }
  .mobile-container main .block-container .wrapper .img-side img {
    height: 189px;
  }
  .mobile-container main .block-container .wrapper .block-side {
    width: 50%;
    height: 100%;
    background-color: #868282;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .mobile-container main .block-container .wrapper .block-side .side-wrapper {
    margin-top: 10px;
    margin-left: 20px;
  }
  .mobile-container main .block-container .wrapper .block-side .side-wrapper img {
    width: 46px;
    height: 38px;
  }
  .mobile-container main .block-container .wrapper .block-side .side-wrapper ul li {
    color: white;
    font-family: "Roboto", sans-serif;
  }
  .mobile-container main .block-container .wrapper .block-side .side-wrapper .second-ul {
    margin-top: 20px;
  }
  .mobile-container main .block-decoration {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .mobile-container main .block-decoration .bottom {
    margin-top: 50px;
  }
  .mobile-container main .reviews-text {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 17px;
    color: #3B7720;
    margin-top: 25%;
    margin-bottom: 60px;
  }
  .mobile-container main .table-cont {
    margin-top: 270px;
    margin-left: -46%;
  }
  .mobile-container main .tableReviews {
    width: 414px;
    height: 980px;
    position: relative;
    margin-top: 100px;
  }
  .mobile-container main .userCard {
    width: 100px;
    height: 300px;
    margin-top: 30px;
    margin-left: -314px;
  }
  .mobile-container main .userCard img {
    width: 27px;
    height: 27px;
    margin-top: 50px;
  }
  .mobile-container main .userCard .name {
    margin-top: 25px;
    margin-left: -1%;
  }
  .mobile-container main .userCard .date {
    margin-left: -1%;
  }
  .mobile-container main .review {
    position: absolute;
    left: -115%;
    margin-top: -36%;
  }
  .mobile-container main center hr {
    width: 200px;
    height: 3px;
    background-color: #55A630;
    margin-top: 62px;
    margin-bottom: 24px;
  }
  .mobile-container main center .write-review {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    color: #3B7720;
    margin-bottom: 15px;
  }
  .mobile-container main center .review-block {
    width: 300px;
    height: 158px;
    background: #F0F0F0;
    border-radius: 9px;
    margin-top: 20px;
  }
  .mobile-container main center .review-block .input-cont {
    display: flex;
    justify-content: space-between;
  }
  .mobile-container main center .review-block .input-cont .rev {
    margin-left: 17%;
  }
  .mobile-container main center .review-block .input-cont .rev .rev-input {
    width: 200px;
  }
  .mobile-container main center .review-block .input-cont .inputs p {
    font-family: "Montserrat", sans-serif;
    color: #424242;
  }
  .mobile-container main center .review-block .input-cont .inputs input {
    margin-top: 10px;
    width: 103px;
    height: 21px;
    border-radius: 2px;
    border: none;
    background-color: #cdc1c1;
  }
  .mobile-container main center .review-block button {
    background: linear-gradient(91.67deg, #509133 -28.29%, #DDF4CB 104.2%);
    border-radius: 30px;
    width: 172px;
    height: 34px;
    border: none;
    color: #424242;
  }
  .mobile-container footer {
    margin-top: 900%;
    width: 100%;
    left: 0%;
  }
  .mobile-container .form {
    margin-top: 30%;
    width: 383px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 4%;
  }
  .mobile-container .inputs input {
    width: 326px;
    height: 51px;
    margin-top: 30px;
  }
  .mobile-container .inputs button {
    width: 326px;
    height: 51px;
    margin-top: 30px;
  }
  .mobile-container .inputs button p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 16px;
    color: #FFFFFF;
  }
  .mobile-container .interesting-information {
    width: 80%;
    height: 488px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .mobile-container .interesting-information h1 {
    color: #424242;
  }
  .mobile-container .mobile-invisible {
    display: none;
  }
  .mobile-container iframe {
    width: 200px;
  }
  .slider-mobile {
    display: flex;
    flex-direction: column;
  }
  .mySlides {
    display: flex;
    justify-content: space-around;
    background: #F8F8F8;
    width: 367px;
    height: 400px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  img {
    vertical-align: middle;
  }
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #111111;
  }
  .mobile-container main .flex-container .reviews {
    width: 260px;
    height: 158px;
    background-color: #aee085;
}
}