body hr {
  height: 67px;
  background: #D9D9D9;
}
body a {
  text-decoration: none;
  color: #424242;
}
body .logo {
  margin-left: 5%;
  cursor: pointer;
}
body header {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header hr {
  margin-left: 5%;
}
body header .ukranian {
  margin-right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header .ukranian .ukraine {
  margin-right: 25%;
}
body header .ukranian p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 29px;
  color: #424242;
}
body header svg {
  width: 30px;
  height: 17px;
  margin-left: 75%;
  position: absolute;
}
body .under-main {
  margin-top: -3%;
}
body .under-main hr {
  width: 100%;
  height: 6px;
  border: none;
  background-color: #94B06F;
}
body nav {
  margin-top: 43px;
  margin-left: 50px;
  width: 1304px;
}
body nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
body nav ul .nav-list a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 20px;
  color: #424242;
}
body nav ul .nav-list a:hover {
  color: #55A630;
  transition-duration: 2s;
}
body .active {
  color: #55A630 !important;
}
body .active:hover {
  color: #424242 !important;
  transition-duration: 2s;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 494px;
  height: 63px;
}
.info p {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 20px;
  color: #424242;
}

.social-media {
  width: 133px;
  height: 33px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.promo {
  width: 100%;
  height: 773px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.promo h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 79px;
  color: #55A630;
}
.promo img {
  width: 102%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 409px;
  height: 78px;
}

.promo-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-right: -110%;
}
.promo-text .main-promo-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: black;
}
.promo-text pre {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: black;
  margin-top: -2%;
}
.promo-text .promo-text-details {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #55A630;
  margin-top: -5%;
  cursor: pointer;
}

.interesting-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 2688px;
}
.interesting-information h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 79px;
  color: black;
}

.material-cards {
  margin-top: 5%;
  width: 1337px;
  height: 495px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #F8F8F8;
  width: 367px;
  height: 400px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.card div {
  margin-top: -5%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 320px;
}
.card div p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  width: 305px;
  height: 96px;
}
.card a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #55A630;
  margin-bottom: 3%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 895px;
  height: 520px;
  background: #F5F5F5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: -50%;
}
.form h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 28px;
  text-align: center;
  color: #55A630;
}
.form p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #424242;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 426.97px;
  height: 269px;
}
.inputs input {
  width: 426.22px;
  height: 60px;
  border: 1px solid #55A630;
}
.inputs button {
  width: 426.97px;
  height: 71px;
  background: #55A630;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 16px;
  color: #FFFFFF;
  border: none;
}

footer {
  position: absolute;
  margin-top: 260%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 450px;
  top: 0px;
}

.ftr-info {
  background-color: #424242;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 450px;
  width: 900px;
}
.ftr-info ul {
  width: 148px;
  height: 247px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ftr-info ul li {
  list-style: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 15px;
  color: #FFFFFF;
}

.ftr-head h1 {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 20px;
  color: #FFFFFF;
  width: 100%;
  text-align: center;
}
.ftr-head p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  text-align: center;
}

.copyright {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  width: 100%;
  text-align: center;
}/*# sourceMappingURL=blog.css.map */