@mixin head-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
}
@mixin small-text-promo{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
@mixin card-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
@mixin head-text-mobile{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}
$comfortaa:'Comfortaa', cursive;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
.header-mobile{
    display: none;
}
.slider-mobile{
    display: none !important;
}
body {
    overflow-x: hidden;
    hr {
        height: 67px;
        background: #D9D9D9;
        }
    a {
        text-decoration: none;
        color: #424242;
    }
    .logo{
        margin-left: 5%;
        cursor: pointer;
    }
    header {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        hr {
            margin-left: 5%;
        }
       .ukranian {
        margin-right: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        .ukraine {
            margin-right: 25%;
        }
        p {
            font-family: $montserrat;
            font-style: normal;
            font-weight: 300;
            font-size: 22px;
            line-height: 29px;
            color: #424242;
        }
       }
        svg {
            width: 30px;
            height: 17px;
            margin-left: 75%;
            position: absolute;
        }
    }
 .under-main {
    margin-top: -3%;
    hr {
        width: 100%;
        height: 6px;
        border: none;
        background-color: #94B06F;
    }
 }
    nav{
        margin-top: 43px;
        margin-left: 50px;
     width: 1304px;
     ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
        width: 100%;
        .nav-list {
            a{
                font-family: $montserrat;
                font-style: normal;
                font-weight: 300;
                font-size: 22px;
                line-height: 20px;
                color: #424242;
                transition-duration: 2s;
                &:hover{
                    color: #55A630;
                    transition-duration: 1s;
                }
            }
        }
     }
 }
 .active{
    color:#55A630 !important;
    transition-duration: 2s;
    background-color: white;
    &:hover{
        color:#424242 !important;
        transition-duration: 1s;
    }
 }
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 494px;
    height: 63px;
        p{
            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 20px;
            color: #424242;            
        }
}
.social-media{
    width: 133px;
    height: 33px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.promo{
    width: 100%;
    height: 773px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h1{
        @include head-text();
        color: #55A630;
    }
    img{
        width: 102%;
    }
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 409px;
    height: 78px;
}
.promo-text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-right: -110%;
    .main-promo-text{
        @include small-text-promo();
        color: black;
    }
    pre{
        @include small-text-promo();
        color: black;
        margin-top: -2%
    }
    .promo-text-details{
        @include small-text-promo();
        color: #55A630;
        margin-top: -5%;
        cursor: pointer;
    }
}
.interesting-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 2688px;
    h1{
        @include head-text();
        color: black;
    }
}
.material-cards{
    margin-top: 5%;
    width: 1337px;
    height: 495px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #F8F8F8;
    width: 367px;
    height: 400px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    div{
        margin-top: -5%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 320px;
        p{
            @include card-text();
            color: #000000;
            width: 305px;
            height: 96px;
        }
    }
    a{
        @include card-text();
        color: #55A630;
        margin-bottom: 3%;
    }
    img{
        width: 367px;
        height: 183px;
    }
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 895px;
    height: 520px;
    background: #F5F5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: -50%;
    h1{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 28px;
        text-align: center;
        color: #55A630;        
    }
    p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #424242;        
    }
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 426.97px;
    height: 269px;
    input{
        width: 426.22px;
        height: 60px;
        border: 1px solid #55A630;
    }
    button{
        width: 426.97px;
        height: 71px;
        background: #55A630;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 16px;
        color: #FFFFFF;   
        border: none;     
    }
}
footer{
    position: absolute;
    margin-top: 260%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 450px;
    top: 0px;
}
.ftr-info{
    background-color: #424242;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 450px;
    width: 900px;
    ul{
        width: 148px;
        height: 247px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        li{
                            list-style: none;
            a {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 15px;
                color: #FFFFFF;  
                transition-duration: 2s;
                &:hover {
                    color: #55A630;
                    transition-duration: 1s;
                }  
            }
        }
    }
}
.ftr-head{
        h1{
            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 20px;
            color: #FFFFFF;   
            width: 100%;  
            text-align: center;       
}
p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;  
    text-align: center;  
}
}
.copyright{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;    
    width: 100%;
    text-align: center;
}
@media screen and (max-width: 450px) {
.info{
    display: none;
}
.logo-desktop{
    display: none;
}
hr{
    display: none;
}
.ukranian{
    display: none;
}
.ukraine{
    display: none;
}
.ukr-lang{
    display: none;
}
svg{
    display: none;
}
.under-main{
    display: none;
}
nav{
    display: none;
}
.header-mobile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-left: 19%;
}
.logo{
    height: 50px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: black;
    min-width: 200px;
}
.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
    margin-top: 100%;
    margin-left: 90%;
}
.promo{
    width: 100%;
    height: 683px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h1{
        @include head-text-mobile();
        color: #55A630;
    }
}
.wrapper{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}
.promo-text{
    margin-right: 1%;
}
footer{
    margin-top: 450%;
    width: 100%;
    left: 0%;
}
.form{
    margin-top: 30%;
    width: 383px;
    height: 300px;
}
.inputs{
    input{
        width: 204px;
        height: 31px;
    }
    button{
        width: 204px;
        height: 31px;
        p{
            font-size: 14px;
        }
    }
}
.interesting-information{
    width: 80%;
    height: 488px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h1{
        @include head-text-mobile();
        color: #000000;
    }
}
.mobile-invisible{
    display: none;
}
iframe{
    width: 200px;
}
}
.slider-mobile{
    display: flex;
    flex-direction: column;
}
.mySlides {
    display: flex;
    justify-content: space-around;
    background: #F8F8F8;
    width: 367px;
    height: 400px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
img {vertical-align: middle;}
.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}
.next {
right: 0;
border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #999999;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}
.active, .dot:hover {
background-color: #111111;
}

