@media screen and (max-width: 450px) {
    body{
      width: 440px;
    }
     .hr-main{
        display: none;
    }
    header{
       .header-round{
        display: none !important;
       }
    }
    .hrheader{
        display: none;
    }
    .strelca{
        display: none;
    }
    .header-svg{
        display: none;
    }
    .header-number{
        display: none;
    }
    .header-social{
        display: none !important;
    }
    .ukraine{
        display: none;
    }
    .ukraine-p{
        display: none;
    }
    .nav-list{
        display: none;
    }
    .burger-menu{
        
        display: block;
    }
    .language-slideout{
        display: none;
    }
    hr{
        display: none;
    }
    .action1{
        display: block !important;
        width: 440px;
        &_block{
            margin-left: 200px;
            
        }
        &_text{
            display: none;
        }


    }
    .strelochka{
        display: block !important;
        margin-top: 30px;
    }
    .dots{
        display: block;
    }
    .action2{
        display: none !important;;
    }
    .plazmo{
        display: none !important;
    }
    .breceti{
        display: none;
    }
    .form{
       margin-top: 200px;
    }
    .elipse{
        display: none;

    }
    .elipse2{
        display: none;
    }
    
}
